.dart_tool/
.packages
.pub/
.pub-cache/
build/

android/.gradle/
android/app/build/

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/*.xcconfig
ios/Flutter/*.sh

.vscode/
.idea/
*.iml

.DS_Store
